@import "../reindeer/reindeer.scss";

/******************************************************************************/
/* THEME RULES BEGIN                                                          */
/******************************************************************************/

@mixin dws {
  /* Include all the styles from the reindeer theme */
  @include reindeer;

  .menu-viewlet {
     background: -webkit-linear-gradient(left, #505355, #2B2B2B);

    .menu-item {
      cursor: pointer;
      padding-top: 7px;
      padding-bottom: 7px;
      color: rgb(136, 138, 140);
      border-top: 1px solid rgba(255, 255, 255, 0.0470588);
      border-bottom: 1px solid rgba(0, 0, 0, 0.180392);

      .v-label {
        font-size: 12px;
        font-weight: 600;
        cursor: pointer;
        text-align: center;
        text-transform: uppercase;
        text-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 0px;
      }
    }

    .menu-item:hover {
        color: #ffffff;
    }
  }

  .ticket-view {
  }

  .resource-status-view {
    .v-splitpanel-vsplitter {
      background-color: transparent;
      background-image: none;
      border: none;
      height: 3px;

      div {
        background: none;
      }
    }
  }

  .resource-status-card-panel {
    .v-csslayout {
      padding-right: 2px;
      padding-left: 2px;
      padding-bottom: 2px;
    }
  }

  .resource-status-card {
    border: 1px solid #000000;
    cursor: pointer;
    //border: solid 1px #b59b24;
    float: left;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 4px;
    .call-sign {
      font-weight: bold;
    }
    .resource-type {
      font-size: 10px;
    }
  }

  .state-available, .v-table-row-state-available {
    background-color: #adff2f;
  }

  .state-assigned, .v-table-row-state-assigned {
    background-color: #ff8c00;
  }

  .state-at_station, .v-table-row-state-at_station {
    background-color: #1f6822;
    color: #ffffff;
  }

  .state-en_route, .v-table-row-state-en_route {
    background-color: #e1c066;
  }

  .state-dispatched, .v-table-row-state-dispatched {
    background-color: #fa8072;
  }

  .state-unavailable, .v-table-row-state-unavailable {
    background-color: #696969;
    color: #ffffff;
  }

  .state-on_scene, .v-table-row-state-on_scene {
    background-color: #5f9ea0;
  }


/* Insert your theme rules here */
  .header {
    padding: 3px;
    background: -webkit-linear-gradient(top, #fff, #999);
    line-height: 25px;

    .title {
      font: {
        size: 20px;
      }
      line-height: 25px;
      padding: {
        top: 3px;
        left: 10px;
      }
    }

    .v-button {
      margin: 5px;
    }
  }
}
