:root {
    --input-text-color: #495057;
    --input-text-border: #ced4da;
    --input-text-background: #ffffff;
    --input-text-focus-border: #80bdff;
    --input-text-focus-shadow: #80bdff40;
}

input[type="text"] {
    display: inline-block;
    padding: .375rem .75rem;
    margin: 0;
    font-size: 1rem;
    font-family: inherit;
    line-height: 1.5;
    color: var(--input-text-color);
    border: 1px solid var(--input-text-border);
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,
        box-shadow .15s ease-in-out;
    background-color: var(--input-text-background);
}

input[type="text"]:focus {
    outline: 0;
    border-color: var(--input-text-focus-border);
    box-shadow: 0 0 0 0.2rem var(--input-text-focus-shadow);
}
