@import url("../reindeer/legacy-styles.css");

.state-available, .v-table-row-state-available {
   background-color: #adff2f;
 }

 .state-reserved, .v-table-row-state-reserved {
   background-color: #ff8c00;
 }

 .state-at_station, .v-table-row-state-at_station {
   background-color: #1f6822;
   color: #ffffff;
 }

 .state-en_route, .v-table-row-state-en_route {
   background-color: #F3F781;
 }

 .state-dispatched, .v-table-row-state-dispatched {
   background-color: #fa8072;
 }

.state-out_of_service, .v-table-row-state-out_of_service {
  background-color: #696969;
  color: #ffffff;
}

.state-on_scene, .v-table-row-state-on_scene {
  background-color: #CEECF5;
}

.v-nativebutton-resource-state {
    border: 1px solid black;
    border-radius: 2px;
}

.v-nativebutton-dispatch {
    border: 2px solid black;
    border-radius: 2px;
    background-color: red;
}

.v-nativebutton-dispatch .v-nativebutton-caption {
    color: white;
}

.v-splitpanel-hsplitter-assignment-resources-panel, .v-splitpanel-hsplitter-assignment-resources-panel div {
    background: none;
}

input.v-textfield-readonly, textarea.v-textarea-readonly, .v-filterselect.v-readonly {
    border: 1px solid #bcbdbe !important;
    border-radius: 3px;
}