.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 15px 2px 10px;
    background-color: var(--lumo-contrast-5pct);
}

.app-header .left, .app-header .center, .app-header .right {
    display: flex;
    align-items: center;
}

.app-header .title {
    font-size: var(--lumo-font-size-xxl);
    font-weight: 500;
}

.app-header .dispatch-center-name {
    font-size: var(--lumo-font-size-l);
    font-weight: 100;
    margin-left: 15px;
}

.app-header .user-name {
    font-size: var(--lumo-font-size-m);
    font-weight: 100;
    margin-left: 5px;
}

.app-header iron-icon {
    width: 16px;
    height: 16px;
}
