html {
    --lumo-font-family: 'Ubuntu', sans-serif;
}
.primary-monitor-layout {
    display: flex;
    flex-direction: column;
}

.primary-monitor-layout .left-side-panel {
    display: flex;
    flex-direction: column;
}